.bg-turqoise{background-color: #1abc9c; color:#fff;}
.bg-darkturqoise{background-color: #16a085; color:#fff;}
.bg-emerald{background-color: #2ecc71; color:#fff;}
.bg-darkemerald{background-color: #27ae60; color:#fff;}
.bg-lightblue{background-color: #3498db; color:#fff;}
.bg-darkblue{background-color:#2980b9; color:#fff;}
.bg-amethyst{background-color:#9b59b6; color:#fff;}
.bg-darkamethyst{background-color: #8e44ad; color:#fff;}
.bg-asphalt{background-color: #34495e; color:#fff;}
.bg-darkasphalt{background-color:#2c3e50 ; color:#fff;}

.bg-yellow{background-color: #f1c40f; color:#fff;}
.bg-darkyellow{background-color: #f39c12; color:#fff;}
.bg-orange{background-color: #e67e22; color:#fff;}
.bg-darkorange{background-color:#d35400; color:#fff;}
.bg-red{background-color: #e74c3c; color:#fff;}
.bg-darkred{background-color:#c0392b ; color:#fff;}
.bg-clouds{background-color: #ecf0f1;}
.bg-silver{background-color: #bdc3c7;color:#fff;}
.bg-grey{background-color: #95a5a6; color:#fff;}
.bg-darkgrey{background-color: #7f8c8d; color:#fff;}

.bg-black{background-color: #000;color: #FFF;}
.bg-white{background-color: #FFFFFF;color: #5a5a5a;}
.bg-lightgrey{background-color: #E6E6E6}
.bg-verylightgrey{background-color: #F2F2F2;}
.bg-verydarkgrey{background-color: #222222; color:#ffffff;}
.bg-fb{background-color: #0071bd; color: #fff;}
.bg-fb-light{background-color: #007fc5; color: #fff;}