<!-- BANNER
================================================== -->
<!-- <section class="parallax-window bg-center" ng-parallax pattern="'assets/common/img/covers/attractions-skyline-luge-2rides.jpg'" speed="3" reverse="false"> -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/attractions-skyline-luge-2rides.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Skyline Luge (2 Rides)</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="attractions">Attractions</a></li>
            <li>Skyline Luge (2 Rides)</li>
        </ul>
    </div>
</div><!-- Position -->

<!-- CONTENT
================================================== -->
<section class="bg-verylightgrey">
    <div class="container container-padding-large">
    	<div class="row">

            <div class="col-lg-8 col-md-7" id="single_tour_desc">
                
                <!-- NAV TABS
                ================================================== -->    
                <ul class="nav nav-tabs">
                    <li class="active"><a data-target="#general-info" data-toggle="tab">General Info</a></li>
                    <li><a data-target="#tourist-info" data-toggle="tab">Tourist Info</a></li>
                    <li><a data-target="#faq" data-toggle="tab">FAQ</a></li>
                    <li><a data-target="#directions" data-toggle="tab">Directions</a></li>
                    <!-- <li><a data-target="#image-gallery" data-toggle="tab">Image Gallery</a></li> --> <!-- This section have no gallery -->
                </ul>
                
                <!-- Content container -->
                <div class="tab-content attraction-details-content">

                    <!-- GENERAL INFO
                    ================================================== -->
                    <div class="tab-pane fade in active" id="general-info">
                        <p>Invented in New Zealand over 27 years ago*, and having hosted over 30 million rides* worldwide Skyline Luge Sentosa is the first-ever Luge introduced in Southeast Asia and has since hosted over 8 million rides!</p>

                        <p>2 types of experience:</p>

                        <ul>
                            <li>Luge Ride - a unique 3 wheeled gravity ride that provides the rider full control over their descent on a concrete tracks.</li>
                            <li>Skyride – a 320 metre chairlift concept that allows you to enjoy the panoramic bird’s eye view of Sentosa island and also the Singapore city skyline. Each Luge ride can be anywhere from a few minutes for an adventurous rider to seven minutes for those who like to take it more leisurely. The Skyride ride in one direction lasts about seven minutes.</li>
                        </ul>

                        <br/>

                        <p>The Dragon Trail boasts an elevated course, which builds up excitement with its tighter corners and numerous turns. This track is designed with themed landscaping and night lighting to provide a mystical backdrop to the ride.</p>

                        <p>The Jungle Trail is more sheltered with mature trees as this was the original track built in 2005. It is slightly shorter than Dragon Trail and it has longer wider corners and long straights.</p>

                        <p>The total length combined is about 1400 metres.<br/>
                        The dragon trail which recently opened is 688 metres in length while the jungle trail is 628 metres.</p>

                        <p>The Skyride can take a maximum of 4 persons.</p>
                    </div>

                    <!-- TOURIST INFO
                    ================================================== -->
                    <div class="tab-pane fade" id="tourist-info">
                        <div class="row">

                            <div class="col-md-4">
                                <h4>Opening Hours</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Luge and Skyride operates 365 days of the year including weekends and Public Holidays. <br/>
                                (Subject to weather permitting).</p>
                                <p>Daily from 10:00 AM – 9.30 PM (Last ticket sales at 9.15pm)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Contacts</h4>
                            </div>
                            <div class="col-md-8">
                                <p>45 Siloso Beach Walk, Sentosa, Singapore<br/>Phone: +65 6274 0472</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Restrictions</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Luge is safe for all ages. Each track is 4-metres wide so there is sufficient space to manoeuvre. All Luge riders receive a full safety briefing from trained staff prior to their luge ride. Each rider is fully-instructed and made to wear a safety helmet before the ride commences.</p>
                                <p>To ride the Luge &amp; Skyride, you must be in good health and free of heart conditions, motion sickness, epilepsy, back &amp; neck problems and other physical limitations. </p>
                                <p>Expectant mothers are not allowed to ride.</p>
                                <p>Riders must be at least 110cm tall and at least 6 years of age to ride the Luge on their own, otherwise they can double up with an adult. To ride the Skyride, children must be over 85cm tall.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Height Requirements</h4>
                            </div>
                            <div class="col-md-8">
                                <p><span class="bold">Skyride</span> – Min. 85 cm to ride with an adult and 135 cm to ride alone. 1 adult can only accompany 2 children.</p>
                                <p><span class="bold">Luge</span> – 6 years and above or a minimum height of 110 cm to ride alone. </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Height or weight restriction</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Although it is safe for all ages, common restrictions apply. To ride the Luge &amp; Skyride, you must be in good health and free of heart conditions, motion sickness, epilepsy, back &amp; neck problems and other physical limitations. Expectant mothers are not allowed to ride.</p>
                                <p>Riders must be at least 110cm tall and at least 6 years of age to ride the Luge on their own, otherwise they can double up with an adult. To ride the Skyride, children must be over 85cm tall.</p>
                            </div>
                        </div>

                    </div>
                    
                    <!-- CONTENT FAQ
                    ================================================== -->
                    <div class="tab-pane fade" id="faq">
                        <p><span class="bold">What is Skyline Luge Sentosa?</span><br/>
                        Invented in New Zealand over 27 years ago*, and having hosted over 30 million rides* worldwide Skyline Luge Sentosa is the first-ever Luge introduced in Southeast Asia and has since hosted over 8 million rides!</p>
                        <p>2 types of experience:</p>
                        <ul>
                            <li>Luge Ride - a unique 3 wheeled gravity ride that provides the rider full control over their descent on a concrete tracks.</li>
                            <li>Skyride – a 320 metre chairlift concept that allows you to enjoy the panoramic bird’s eye view of Sentosa island and also the Singapore city skyline.</li>
                        </ul>

                        <p><span class="bold">How long does each Luge ride take?</span><br/>Each Luge ride can be anywhere from a few minutes for an adventurous rider to seven minutes for those who like to take it more leisurely. The Skyride ride in one direction lasts about seven minutes.</p>

                        <p><span class="bold">How many persons can the Skyride accommodate?</span><br/>The Skyride can take a maximum of 4 persons.</p>
                        
                        <p><span class="bold">Is it safe for everyone? Will I go off track?</span><br/>Luge is safe for all ages. Each track is 4-metres wide so there is sufficient space to manoeuvre. All Luge riders receive a full safety briefing from trained staff prior to their luge ride. Each rider is fully-instructed and made to wear a safety helmet before the ride commences.</p>
                    </div>
                    
                    <!-- DIRECTIONS
                    ================================================== -->
                    <div class="tab-pane fade" id="directions">

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Google Maps</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Type in your location and get your directions.</p>
                                <form action="http://maps.google.com/maps" method="get" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="saddr" placeholder="Enter your starting point" class="form-control style-2" />
                                        <input type="hidden" name="daddr" value="Skyline Luge Singapore"/><!-- Write here your end point -->
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="submit" value="Get directions" style="margin-left:0;">GET DIRECTIONS &raquo;</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Via Cable Car</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Take a scenic Cable Car ride from Mount Faber or HarbourFront Tower 2. Alight at the Singapore Cable Car Station at Imbiah Lookout, Sentosa.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Via Sentosa Express</h4>
                            </div>
                            <div class="col-md-8">
                                <p>From Harbour Front Station, proceed to VivoCity Lobby L, Level 3. Board the Sentosa Express and alight at Imbiah Station / Beach Station.</p>
                            </div>
                        </div>

                   </div>
                    
                    <!-- IMAGE GALLERY
                    ================================================== -->
                    <!-- <div class="tab-pane fade" id="image-gallery">
                        <div class="attractions-gallery">
                            <p>Click to enlarge photo.</p>
                            <div class="row magnific-gallery">
                    
                                <div class="col-sm-4 col-xs-6 col-xxs-12">
                                    <a href="assets/common/img/attractions/segway-fun-ride/segway-01-500x500.jpg" Title="Image 1 Description or Title">
                                        <img src="assets/common/img/attractions/segway-fun-ride/thumbs/segway-01-300x180.jpg" alt="Image 1" class="full-width">
                                    </a>
                                </div>
                    
                            </div>/.magnific-gallery
                        </div>/.attractions-gallery
                                       </div>/.tab-pane -->

               </div><!-- /.tab-content -->

            </div><!-- /#single_tour_desc-->
            
            <!-- CONTENT
            ================================================== -->
            <aside class="col-lg-4 col-md-5">

                <div class="sticky-box buy-tix-box">
                    <div class="buy-title">
                        <h3>Buy Tickets</h3>
                    </div>
                    <div class="buy-content">

                        <!-- Header -->
                        <div class="buy-header">
                            <div class="col-sm-4 col-xs-6">Usual Price</div>
                            <div class="col-sm-4 col-xs-6">Swish Price</div>
                            <div class="col-sm-4 hidden-xs">Qty</div>
                        </div>

                        <!-- Adult Tix -->
                        <div class="buy-options">
                            <div class="col-sm-4 col-xs-6">
                                Adult<span class="stroke">SGD23</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                Adult<span class="text-green">SGD17</span>
                            </div>
                            <div class="col-sm-4 col-xs-12 buy-qty">
                                <div>
                                    <div class="btn-container-decrement">
                                        <button ng-click="adultCount = adultCount-1" ng-disabled="adultCount == 0" ng-init="adultCount=0"> - </button>
                                    </div>
                                    <div class="num-container">
                                        <span>{{ adultCount }}</span>
                                    </div>
                                    <div class="btn-container-increment">
                                        <button ng-click="adultCount = adultCount+1"> + </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Child Tix -->
                        <div class="buy-options">
                            <div class="col-sm-4 col-xs-6">
                                Child<span class="stroke">SGD23</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                Child<span class="text-green">SGD17</span>
                            </div>
                            <div class="col-sm-4 col-xs-12 buy-qty">
                                <div>
                                    <div class="btn-container-decrement">
                                        <button data-ng-click="childCount = childCount-1" data-ng-disabled="childCount == 0" data-ng-init="childCount=0"> - </button>
                                    </div>
                                    <div class="num-container">
                                        <span>{{ childCount }}</span>
                                    </div>
                                    <div class="btn-container-increment">
                                        <button data-ng-click="childCount = childCount+1"> + </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <button class="btn btn-primary btn-add-cart center"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button>

                    </div>
                </div><!--/sticky-box -->
            
            </aside>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- bg-verylightgrey -->

<section class="container-padding-large">
    <div class="main_title">
        <h2>Recommended <span>Nearby</span> Attractions</h2>
    </div>
    
    <!-- Other random recommended attractions. this one is hard-coded of fixed 3 attractions -->
    <div data-ng-include="'app/includes/3-col-attractions.html'"></div>

    <div class="gap"></div>
    <div class="text-center">
        <a ui-sref="attractions" class="btn_1 large blue">MORE ATTRACTIONS</a>
    </div>
</section>


<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Skyline Luge (2 Rides)"></update-title>
<update-meta name="description" content="Invented in New Zealand over 27 years ago*, and having hosted over 30 million rides* worldwide Skyline Luge Sentosa is the first-ever Luge introduced in Southeast Asia and has since hosted over 8 million rides!"></update-meta>
<update-meta property="og:title" content="Buy Skyline Luge (2 Rides) tickets"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/attractions-skyline-luge-2rides"></update-meta>
<update-meta property="og:description" content="Invented in New Zealand over 27 years ago*, and having hosted over 30 million rides* worldwide Skyline Luge Sentosa is the first-ever Luge introduced in Southeast Asia and has since hosted over 8 million rides!"></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<style type="text/css"></style>

<!-- jQuery only -->
<script type="text/javascript">
$('.magnific-gallery').each(function() {
    $(this).magnificPopup({
        delegate: 'a', 
        type: 'image',
        gallery:{enabled:true}
    });
}); 

// jQuery Ellipsis trigger function upon load view
$(document).ready(function() {
  setTimeout(function(){ 
    $(".ellipsis").dotdotdot({

      /*  The text to add as ellipsis. */
      ellipsis  : '... ',   
      /*  Whether to update the ellipsis: true/'window' */
      watch   : "window"

    });
  }, 1000); //delay 1sec
  
  // More scripts below here
});
</script>