<!-- BANNER
================================================== -->
<!-- <section class="parallax-window bg-center" ng-parallax pattern="'assets/common/img/covers/attractions-madame-tussauds.jpg'" speed="3" reverse="false"> -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/attractions-madame-tussauds.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Madame Tussauds + IOS Live</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="attractions">Attractions</a></li>
            <li>Madame Tussauds + IOS Live</li>
        </ul>
    </div>
</div><!-- Position -->

<!-- CONTENT
================================================== -->
<section class="bg-verylightgrey">
    <div class="container container-padding-large">
    	<div class="row">

            <div class="col-lg-8 col-md-7" id="single_tour_desc">
                
                <!-- NAV TABS
                ================================================== -->    
                <ul class="nav nav-tabs">
                    <li class="active"><a data-target="#general-info" data-toggle="tab">General Info</a></li>
                    <li><a data-target="#tourist-info" data-toggle="tab">Tourist Info</a></li>
                    <li><a data-target="#faq" data-toggle="tab">FAQ</a></li>
                    <li><a data-target="#directions" data-toggle="tab">Directions</a></li>
                    <li><a data-target="#image-gallery" data-toggle="tab">Image Gallery</a></li>
                </ul>
                
                <!-- Content container -->
                <div class="tab-content attraction-details-content">

                    <!-- GENERAL INFO
                    ================================================== -->
                    <div class="tab-pane fade in active" id="general-info">
                        <p>Surround yourself with some of the legends in our Music zone. You can jump on stage with Michael Jackson, show your moves to Elvis and dress up with Madonna &amp; Taylor Swift! Walk the red carpet, strike a pose for the paparazzi, and join the party to end all parties! Mingle with your favourite A-List celebrities, rub shoulders with the stars and cosy up to Hollywood's hottest hunks.</p>
                        <p>On your marks, get set, go! This is your change to see the world's biggest sports stars up close. Feel the adrenaline rush of meeting Muhammad Ali and football stars Cristiano Ronaldo &amp; David Beckham. The world’s greatest thinkers, leaders and influential figures, including our very own Lee Kuan Yew await your arrival! Take a starring role on set in the interactive Film &amp; TV experience at Madame Tussauds Singapore!</p>
                        <p>Images of Singapore LIVE is a 40 minutes actor led journey that uncovers the nation’s extraordinary history from a humble fishing village to 21st century powerhouse. Meet the everyday people and pioneers of Singapore across a period of nearly 200 years.</p>
                    </div>

                    <!-- TOURIST INFO
                    ================================================== -->
                    <div class="tab-pane fade" id="tourist-info">
                        <div class="row">

                            <div class="col-md-4">
                                <h4>Standard Opening Hours:</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Mon - Fri: 10am - 7.30pm (last admission at 6pm)</p>
                                <p>Sat, Sun &amp; Public holidays: 10am - 9pm (last admission at 7.30pm) </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Public Holiday Opening Hours:</h4>
                            </div>
                            <div class="col-md-8">
                                <p>10am - 9pm (last admission at 7.30pm) </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Contacts</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Our call centre is open from Monday to Friday,<br/>during office hours: 9am - 6pm.<br/>(+65) 6715 4000 </p>
                            </div>
                        </div>

                        

                    </div>
                    
                    <!-- CONTENT FAQ
                    ================================================== -->
                    <div class="tab-pane fade" id="faq">
                        <p><span class="bold">Can guests re-enter with same day tickets or do they have to re-purchase?</span><br/>The admission ticket is for one time use only. Should guests wish to re-enter the attraction after they exit the exit turnstile, they would need to purchase a new ticket.</p>
                        <p><span class="bold">For refund/change of date matters:</span><br/>No refunds/exchanges permitted.</p>
                        <p><span class="bold">Am I allowed to eat/drinks within the attraction?</span><br/>No. Guests are not permitted to eat/drinks within the attraction and including baby food.</p>
                        <p><span class="bold">Any nursing room/baby change table in the toilet?</span><br/>No, the toilets do not include nursing room/baby change table.</p>
                        <p><span class="bold">Will there be planned guided tours?</span><br/>No, we do not have guided tours as our attraction is self-guiding. Guest are welcome to wander around our attraction at their own pace.</p>
                        <p><span class="bold">Are all wax figure placed on the same level?</span><br/>Yes, all wax figures in Madame Tussauds Singapore are placed on ground level and there’s relevant ramp to access.</p>
                        <p><span class="bold">Am I allowed to touch the figures?</span><br/>Yes, at Madame Tussauds you can get up close and personal with celebrities, icons and historical leaders in a fully interactive experience.</p>
                        <p><span class="bold">What is the duration of the boat ride?</span><br/>The boat ride duration is about 3 minutes.</p>
                        <p><span class="bold">What time is the first and last boat ride?</span><br/>We open at 10am, the boat ride starts from 11am. Last admission into the attraction on Monday to Friday is at 6pm and on Saturday, Sunday &amp; public holidays at 7:30pm, we’ll make sure all guests are able to board the boat ride.</p>
                        <p><span class="bold">Are there any height/age/weight restriction?</span><br/>Those aged 12 years old and below must be accompanied by an adult. Children below the height of 1.4metres have to be accompanied by an adult during the ride. Please note that no babies in arms are allowed.</p>
                        <p><span class="bold">Are wheelchairs allowed on the boat ride?</span><br/>No, the boat ride does not accommodate wheelchairs.</p>
                        <p><span class="bold">Can I take a pushchair or pram inside the attraction?</span><br/>Families with young children are advised that baby prams are not allowed in the attraction. Prams must be left outside at the drop-off point.</p>
                        <p><span class="bold">Is the attraction wheelchair friendly?</span><br/>Yes, our attraction is wheelchair friendly, however we can only accommodate 2 wheelchairs at one time for safety reasons. The Spirit of Singapore boat ride cannot accommodate wheelchairs or people with serious mobility issues.</p>
                        <p><span class="bold">I’m interested in having a wax hand made – what should I be aware of?</span><br/>Wax hands are not recommended if you:<br/><br/>
                        Have skin allergy<br/>
                        Have sensitive skin<br/>
                        Have broken skin<br/>
                        Dislike hot liquid<br/>
                        Are under the age of 5<br/>
                        Have high blood pressure<br/>
                        Are pregnant
                        </p>


                    </div>
                    
                    <!-- DIRECTIONS
                    ================================================== -->
                    <div class="tab-pane fade" id="directions">

                        <div class="row">
                            <div class="col-md-4">
                                <h4>Google Maps</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Type in your location and get your directions.</p>
                                <form action="http://maps.google.com/maps" method="get" target="_blank">
                                    <div class="input-group">
                                        <input type="text" name="saddr" placeholder="Enter your starting point" class="form-control style-2" />
                                        <input type="hidden" name="daddr" value="Madame Tussauds Singapore"/><!-- Write here your end point -->
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="submit" value="Get directions" style="margin-left:0;">GET DIRECTIONS &raquo;</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>By Sentosa Express</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Head to the 3rd level of the VivoCity shopping mall for the Sentosa Express monorail to Sentosa Island.</p>
                                <p>Alight at Merlion Station, then head across Merlion Plaza to the escalators.</p>
                                <p>After 4 flights of escalators, you will see the red carpet of Madame Tussauds Singapore.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>By Cable Car</h4>
                            </div>
                            <div class="col-md-8">
                                <p>From HarbourFront MRT take Exit B (HarbourFront Centre).</p>
                                <p>Follow directional signs leading to Singapore Cable Car station at HarbourFront Tower II and take the cable car to Sentosa Island.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>By Foot</h4>
                            </div>
                            <div class="col-md-8">
                                <p>Take the MRT to HarbourFront station.</p>
                                <p>From VivoCity Shopping Mall’s waterfront promenade you can enter via the Sentosa Boardwalk.</p>
                                <p>This is a 30-minute walk.</p>
                                <p>Please follow directional signs to Madame Tussauds Singapore which is at Imbiah Lookout.</p>
                            </div>
                        </div>

                   </div>
                    
                    <!-- IMAGE GALLERY
                    ================================================== -->
                    <div class="tab-pane fade" id="image-gallery">
                        <div class="attractions-gallery">
                            <p>Click to enlarge photo.</p>
                            <div class="row magnific-gallery">

                                <div class="col-sm-3 col-xs-6">
                                    <a href="assets/common/img/attractions/madame-tussauds/madame-01-500x500.jpg" Title="Image 1">
                                        <img src="assets/common/img/attractions/madame-tussauds/thumbs/madame-01-200x200.jpg" alt="Image 1" class="full-width">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="assets/common/img/attractions/madame-tussauds/madame-02-500x500.jpg" Title="Image 2">
                                        <img src="assets/common/img/attractions/madame-tussauds/thumbs/madame-02-200x200.jpg" alt="Image 2" class="full-width">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="assets/common/img/attractions/madame-tussauds/madame-03-500x500.jpg" Title="Image 3">
                                        <img src="assets/common/img/attractions/madame-tussauds/thumbs/madame-03-200x200.jpg" alt="Image 3" class="full-width">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="assets/common/img/attractions/madame-tussauds/madame-04-500x500.jpg" Title="Image 4">
                                        <img src="assets/common/img/attractions/madame-tussauds/thumbs/madame-04-200x200.jpg" alt="Image 4" class="full-width">
                                    </a>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <a href="assets/common/img/attractions/madame-tussauds/madame-05-500x500.jpg" Title="Image 5">
                                        <img src="assets/common/img/attractions/madame-tussauds/thumbs/madame-05-200x200.jpg" alt="Image 5" class="full-width">
                                    </a>
                                </div>

                            </div><!-- /.magnific-gallery -->
                        </div><!-- /.attractions-gallery -->
                   </div><!-- /.tab-pane -->

               </div><!-- /.tab-content -->

            </div><!-- /#single_tour_desc-->
            
            <!-- CONTENT
            ================================================== -->
            <aside class="col-lg-4 col-md-5">

                <div class="sticky-box buy-tix-box">
                    <div class="buy-title">
                        <h3>Buy Tickets</h3>
                    </div>
                    <div class="buy-content">

                        <!-- Header -->
                        <div class="buy-header">
                            <div class="col-sm-4 col-xs-6">Usual Price</div>
                            <div class="col-sm-4 col-xs-6">Swish Price</div>
                            <div class="col-sm-4 hidden-xs">Qty</div>
                        </div>

                        <!-- Adult Tix -->
                        <div class="buy-options">
                            <div class="col-sm-4 col-xs-6">
                                Adult<span class="stroke">SGD28</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                Adult<span class="text-green">SGD20</span>
                            </div>
                            <div class="col-sm-4 col-xs-12 buy-qty">
                                <div>
                                    <div class="btn-container-decrement">
                                        <button ng-click="adultCount = adultCount-1" ng-disabled="adultCount == 0" ng-init="adultCount=0"> - </button>
                                    </div>
                                    <div class="num-container">
                                        <span>{{ adultCount }}</span>
                                    </div>
                                    <div class="btn-container-increment">
                                        <button ng-click="adultCount = adultCount+1"> + </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Child Tix -->
                        <div class="buy-options">
                            <div class="col-sm-4 col-xs-6">
                                Child<span class="stroke">SGD15</span>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                Child<span class="text-green">SGD10</span>
                            </div>
                            <div class="col-sm-4 col-xs-12 buy-qty">
                                <div>
                                    <div class="btn-container-decrement">
                                        <button data-ng-click="childCount = childCount-1" data-ng-disabled="childCount == 0" data-ng-init="childCount=0"> - </button>
                                    </div>
                                    <div class="num-container">
                                        <span>{{ childCount }}</span>
                                    </div>
                                    <div class="btn-container-increment">
                                        <button data-ng-click="childCount = childCount+1"> + </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <button class="btn btn-primary btn-add-cart center"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button>

                    </div>
                </div><!--/sticky-box -->
            
            </aside>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- bg-verylightgrey -->

<section class="container-padding-large">
    <div class="main_title">
        <h2>Recommended <span>Nearby</span> Attractions</h2>
    </div>
    
    <!-- Other random recommended attractions. this one is hard-coded of fixed 3 attractions -->
    <div data-ng-include="'app/includes/3-col-attractions.html'"></div>

    <div class="gap"></div>
    <div class="text-center">
        <a ui-sref="attractions" class="btn_1 large blue">MORE ATTRACTIONS</a>
    </div>
</section>


<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Madame Tussauds + IOS Live"></update-title>
<update-meta name="description" content="Surround yourself with some of the legends in our Music zone. You can jump on stage with Michael Jackson, show your moves to Elvis and dress up with Madonna & Taylor Swift!Walk the red carpet, strike a pose for the paparazzi, and join the party to end all parties! Mingle with your favourite A-List celebrities, rub shoulders with the stars and cosy up to Hollywood's hottest hunks."></update-meta>
<update-meta property="og:title" content="Buy Madame Tussauds + IOS Live tickets"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/attractions/madame-tussauds"></update-meta>
<update-meta property="og:description" content="Surround yourself with some of the legends in our Music zone. You can jump on stage with Michael Jackson, show your moves to Elvis and dress up with Madonna & Taylor Swift!Walk the red carpet, strike a pose for the paparazzi, and join the party to end all parties! Mingle with your favourite A-List celebrities, rub shoulders with the stars and cosy up to Hollywood's hottest hunks."></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<style type="text/css"></style>

<!-- jQuery only -->
<script type="text/javascript">
$('.magnific-gallery').each(function() {
    $(this).magnificPopup({
        delegate: 'a', 
        type: 'image',
        gallery:{enabled:true}
    });
}); 

// jQuery Ellipsis trigger function upon load view
$(document).ready(function() {
  setTimeout(function(){ 
    $(".ellipsis").dotdotdot({

      /*  The text to add as ellipsis. */
      ellipsis  : '... ',   
      /*  Whether to update the ellipsis: true/'window' */
      watch   : "window"

    });
  }, 1000); //delay 1sec
  
  // More scripts below here
});
</script>