<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/privacy.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Privacy Policy</h1>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Privacy Policy</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-xlarge" style="font-size: 13px;line-height: 25px">
    
    <h3 class="mt50 mb20">General Information</h3>
    <p>This privacy policy (the “Privacy Policy”) describes the personal data we collect about you; how we use, disclose and protect this data; as well as your rights over this data.</p>

    <h3 class="mt50 mb20">Collection of your personal data</h3>
    <p>We collect data about you from a variety of sources, including data which we collect from you directly.</p>
    <p>During your use of our Swish website (the “Portal”) or when you communicate with us, we may collect details about you such as your name, address, shopping preferences, payment details etc.</p>
    <p>We may also monitor your usage of the Portal. This may include monitoring how many times you visit, which pages you go to, traffic data, location data and the originating domain name of a user’s internet service provider.  This data will be aggregated, so that we will not be able to identify you individually.</p>
    <p>When you use the Portal, we may collect information about your computer, such as your IP address and/or browser, which we will use for administration purposes and statistical analysis. Likewise, this information will not usually identify you personally.</p>
    
    <h3 class="mt50 mb20">Use of Cookies</h3>
    <p>We may also use “cookies” – which are small files stored on a user’s computer. Cookies hold a small amount of information specific to you, and remember your specific activities on the Portal.</p>
    <p>By doing so, they enable us to customise your future visits. We do not use cookies to collect any individually-identifiable information.</p>
    <p>Your computer can be programmed to inform you each time a cookie is being used in this manner. If you wish, your computer can also be configured to prevent the use of cookies.</p>
    
    <h3 class="mt50 mb20">Links to third party websites</h3>
    <p>We may provide links to third party websites on the Portal. Such third party websites are subject to their own privacy policies and are not covered by this Privacy Policy.</p>

    <h3 class="mt50 mb20">How we use your personal data</h3>
    <p>We use your data to provide, as well as to improve the Portal services.</p>
    <p>We may use your personal data for one or more of the following purposes:</p>
    <ul>
        <li>to help us identify you and any accounts you hold with us</li>
        <li>administration</li>
        <li>statistical analysis</li>
        <li>customer profiling and analyzing your purchasing preferences</li>
        <li>marketing - for us and/or our business partners to contact you by mail, telephone, SMS, text/picture/video message, fax and email about products, services, promotions and special offers</li>
        <li>fraud prevention and detection </li>
        <li>billing and order fulfillment</li>
        <li>customizing this Portal  and its content to your particular preferences</li>
        <li>to notify you of any changes to this Portal or our services which may affect you</li>
        <li>security vetting</li>
        <li>improving our services</li>
        <li>to administer contest, sweepstakes or other similar promotions</li>
        <li>such other purpose as may be given to you at the time your data is collected</li>
    </ul>

    <h3 class="mt50 mb20">Disclosure of your personal data</h3>
    <p>We may disclose your personal data to:</p>
    <ul>
        <li>other companies within our group</li>
        <li>our agents and service providers</li>
        <li>credit reference agents </li>
        <li>law enforcement agencies in connection with any investigation to help prevent unlawful activity</li>
        <li>our business partners</li>
        <li>any relevant party in order to meet the requirements of any applicable laws/regulations, enforceable governmental request or court order</li>
    </ul>
    
    <h3 class="mt50 mb20">Keeping your data secure</h3>
    <p>We will use technical and organisational measures to safeguard your personal data, for example:</p>
    <ul>
        <li>access to your account is controlled by password and username which are unique to you</li>
        <li>we store your personal data on secured servers in hashed data format</li>
        <li>payment details are encrypted via DBS hosted payment gateway page</li>
    </ul>
    <p>Whilst we will use all reasonable efforts to safeguard your personal data, you acknowledge that the use of the internet/ this Portal is not entirely secure and for this reason we cannot guarantee the security or integrity of any personal data which are transferred from you or to you via this Portal.</p>

    <h3 class="mt50 mb20">Changes to the Privacy Policy</h3>
    <p>This Privacy Policy is reviewed periodically.  We will post any changes to the Privacy Policy on this page. We recommend that you check this page regularly for any updates.</p>

    <h3 class="mt50 mb20">How to contact us</h3>
    <p>We welcome your feedback and any questions that you may have.</p>
    <p>In particular, you may contact us to request that we provide you with access to, or to correct any inaccuracies in your personal data. You may also opt out of any of the terms of this Policy.</p>
    <p>If you wish to contact us, you can send us an email at: [admin@swish.sg]</p>
    <p>This Privacy Policy was last updated on [18th Dec 2014]</p>

</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Privacy Policy"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Privacy Policy"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/privacy-policy"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css">
    p .bold{color: #333}
    @media screen and (max-width: 767px){h3{font-size: 18px !important;margin-bottom: 10px !important;}}
</style>

<script type="text/javascript"></script>