<div class="headline" id="default-host" style="display: none">{{host}}</div>

<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/privacy.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Reset Password</h1>
        	<p>It's okay. Everyone forgets.</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Reset Password</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-xlarge">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 pop-content field-on-page">
            
            <h3 class="mt0">Set new password</h3>
            <p class="mb30">Please type in and confirm your new password.</p>

            <div class="js-float-label-wrapper">
                <label for="password" class="float-label">New Password</label>
                <input type="password" class="form-control lock" id="password">
                <span ng-style="{ color: 'red', display: 'none'}" id="npassrequired">New password required!</span>
            </div>
            <div class="js-float-label-wrapper">
                <label for="confirm-password" class="float-label">Re-enter New Password</label>
                <input type="password" class="form-control lock" id="confirm-password">
                <span ng-style="{ color: 'red', display: 'none'}" id="ncpassrequired">Confirm Password Not Match!</span>
            </div>

            <div class="gap-md"></div>
            
            <input type="submit" class="btn btn-primary form-control animate" value="CHANGE PASSWORD">

        </div>
    </div>
</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Reset Password"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Reset Password"></update-meta>
<update-meta property="og:url" content=""></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content=""></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css">
    .pop-content.field-on-page{padding:0 15px;max-width: none;border-top:none;margin:0;}
</style>

<script type="text/javascript"></script>

<!-- For forms -->
<script type="text/javascript" language="javascript" src="assets/common/js/jquery.FloatLabel.js"></script>
<script type="text/javascript" language="javascript">
    $('.js-float-label-wrapper').FloatLabel();
    $('.js-float-label-wrapper').removeClass('populated'); //clear the sudden trigger
</script>

<script type="text/javascript">
    function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var token = getParameterByName("token");
    var email = getParameterByName("email");

    $("input[type=submit]").on('click', function(){

        var pass = $("#password").val();
        var passCon = $("#confirm-password").val();

        if(pass != 'New Password'){
            $("#npassrequired").hide();
            if(pass == passCon){
                $("#ncpassrequired").hide();
                var host = 'http://' + angular.element("#default-host").scope().host;
                $.ajax({
                    type: 'POST',
                    url: window.__env.apiUrl+'api/users/update/password',
                    data: {verification_code: token, email: email, password: pass, password_confirmation: passCon},
                    success: function(){
                        console.log('reset password success');
                        swal({
                          title: "Reset Password Success!",
                          text: "You can login with your email and new password",
                          type: "success",
                          // timer: 4000,
                          showConfirmButton: true
                        },
                        function(){
                            window.location = host;
                        });
                    },
                    error: function(){

                    }
                });

            }else{
                $("#ncpassrequired").show();
            }
        }else{
            $("#npassrequired").show();
        }

    });

</script>