<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/terms.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Terms &amp; Conditions</h1>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Terms &amp; Conditions</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-xlarge" style="font-size: 13px;line-height: 25px">
    <p>www.swish.sg is owned by Swish Destinations Pte Ltd. Any reference in these Conditions of Use to "SWD", "us" or "we" shall mean a reference to Swish Destinations Pte Ltd. Any reference to "Website" shall mean a reference to <span class="underline">www.swish.sg</span> and to any auxiliary website supplementary to the main website. </p>
    <p>SWD provides, through the Website, an interactive online service consisting of information services, content and transaction capabilities facilitated through us, our affiliates and/or merchants ("<span class="bold">Merchants</span>") offering vouchers ("<span class="bold">Vouchers</span>") for sale which may be exchanged for goods or services provided by Merchants. Vouchers may be made available for print or sent via email.</p>
    <p>Please read these Conditions of Use carefully. By accessing and using the Website, you shall be deemed to have agreed to be legally bound by these Conditions of Use. If you do not accept these Conditions of Use, you should not access or use the Website. </p>
    
    <h3 class="mt50 mb20">1. PERMISSION TO USE AND ACCESS</h3>
    <p>1.1 We will permit you to access, use and interact with the Website solely for your personal use, and subject to these terms and conditions.</p>
    <p>1.2 By accessing and using the Website (whether with or without registering an account), you represent that you are at least 18 years of age and have the legal capacity to enter into legally binding agreements.</p>
    <p>1.3 We reserve the right at any time to deny or restrict access to the Website to any particular person, or to block access to the Website from a particular Internet address, without notice and without need to prescribe any reason therefore. </p>
    
    <h3 class="mt50 mb20">2. YOUR OBLIGATIONS</h3>
    <p>2.1 You shall use the Website and the services provided therein for your own non-commercial, personal use, and for lawful purposes and in compliance with the laws of Singapore.</p>
    <p>2.2 Without prejudice to the Conditions of Use, you shall not:</p>
    <p>(1) post or transmit through the Website any material which violates or infringes in any way upon the rights of others (including copyright and other proprietary rights), or any material which is unlawful, threatening, abusive, defamatory, invasive, vulgar, obscene, profane or otherwise objectionable in the reasonable opinion of CTS;</p>
    <p>(2) send or receive any material which is technically harmful (including but not limited to computer viruses, Trojan horses, worms, corrupted data or other malicious software); </p>
    <p>(3) intercept or attempt to intercept any communications transmitted by way of a telecommunications system; </p>
    <p>(4) use the Website for any unlawful or fraudulent purpose;</p>
    <p>(5) furnish false or misleading data or information (including but not limited to false credit card information, false name/s, address or contact information);</p>
    <p>(6) attempt to circumvent our security or network for any reason; </p>
    <p>(7) do anything which would impose an unreasonable or disproportionately large load on our servers, system or infrastructure; </p>
    <p>(8) do anything which, in our reasonable opinion, would or is likely to restrict or inhibit any other user from properly accessing or using the Website or the services provided herein; </p>
    <p>(9) use the Website to advertise or perform any commercial, religious, political or non-commercial solicitation, including but not limited to the solicitation of other users of the Website to use other services provided by other parties which are directly or indirectly competitive with the services provided by SWD through the Website; </p>
    <p>(10) enter into fraudulent transactions with us or with any Merchant; or</p>
    <p>(11) use the Website in breach of any of the Conditions of Use. </p>

    <h3 class="mt50 mb20">3. PURCHASE OF VOUCHERS</h3>
    <p>3.1 You are required to register and create an account on the Website in order to purchase Vouchers through the Website. This is so that we can provide you with easy access to print your orders, view your past purchases and modify your preferences. We reserve the right to reject any new registration or to cancel any account at any time. A password will be allocated by you when you register with us, and you shall be solely responsible in all respects for all and for protecting the confidentiality of such password/s, and shall not share these with or transfer them to any third parties and shall immediately notify SWD of any unauthorized use of the same. Any use and access to the Website using the password/s allocated to you, shall be deemed to be use and access by or on your behalf, and you shall be fully responsible in respect of any such use and access. </p>
    <p>3.2 The Vouchers made available for purchase on the Website are promotional vouchers that you may purchase from each Merchant through the Website to be used in exchange for goods and services from the relevant Merchant. By placing an order for a Voucher from a Merchant through Website, you make an offer to purchase the Voucher you have selected on the terms and conditions herein. </p>
    <p>3.3 Without prejudice to Clause 7.5, the Merchant is solely responsible for the availability and provision of the goods or services described in the Voucher, and you agree that SWD shall not be responsible or liable in respect of the goods and services provided by the Merchants, or the purchase or redemption of the Vouchers. </p>
    <p>3.4 Reproduction, sale, resale or trade of a Voucher is prohibited. Any attempt to carry out any such transaction shall entitle SWD and/or the Merchant to void the Voucher. If any Voucher is redeemed for less than its face value, there is no entitlement to any credit, cash or new or replacement voucher equal to the difference between the face value and the amount redeemed. Vouchers must be redeemed in their entirety and may not be redeemed incrementally or in parts. </p>
    <p>3.5 Neither SWD nor the Merchants shall be responsible for any lost or stolen Vouchers or Voucher reference numbers. </p>
    <p>3.6 The Voucher shall expire on the date specified on the Voucher, and SWD shall not be responsible for any failure to redeem the Voucher before the expiry date. Accordingly, SWD shall not be liable to you or to any person in any way in respect of any Voucher that is not redeemed before the expiry date, and accordingly, no refund or replacement shall be provided to you in any such event. </p>
    <p>3.7 The Merchants may have their own applicable terms and conditions in relation to the supply of their goods and/or services, and you agree that you are responsible for complying with all such terms and conditions.  </p>
    <p>3.8 Shipping, handling or delivery charges may be applicable in respect of any goods and/or services that are redeemable with the Vouchers. Such charges shall be payable by you to the relevant Merchant in addition to the price or face value of the Voucher. For the avoidance of doubt, the Voucher may not be used for shipping, handling or delivery charges. </p>

    <h3 class="mt50 mb20">4. INTELLECTUAL PROPERTY RIGHTS</h3>
    <p>4.1 The Website and all copyright and other rights therein, belongs to SWD.  </p>
    <p>4.2 All rights (including copyright, trademark and other forms of intellectual property rights), title and interest in the design, text, graphics, information, software programs and other material on this Website, and the selection or arrangement thereof (collectively, "<span class="bold">Content</span>"), are owned by, licensed to or controlled by SWD. Any use of the Content or any part thereof (including reproduction, alteration, modification, distribution or republication) without SWD’s prior written permission is strictly prohibited. </p>

    <h3 class="mt50 mb20">5. MONITORING</h3>
    <p>SWD shall have the right, but not the obligation, to monitor the Content and/or the Website at any time, including any forums, bulletin board services, comments, discussions and message communication facilities that are or may hereinafter be included as part of the Website (collectively "<span class="bold">Community Facilities</span>" and each a "<span class="bold">Community Facility</span>"), to check for compliance with these Conditions of Use, as well as to satisfy any applicable law, regulation or any governmental directive. Without limitation to the foregoing, SWD shall have the right, but not the obligation, to remove any material that SWD in its sole discretion finds to be in violation of the Conditions of Use or which is otherwise objectionable. </p>
    
    <h3 class="mt50 mb20">6. LIABILITY AND INDEMNITY</h3>
    <p>You shall indemnify us against any loss, damage, liability or cost incurred by us arising out of:</p>
    <p>(1) any claims or legal proceedings which are brought or threatened against us by any third party (including but not limited any other user or any Merchant) arising from:</p>
    <p>(i) use by you and/or through your password, of the Website and/or any of the services and facilities provided therein; and/or</p>
    <p>(ii) the use of a Voucher; or</p>
    <p>(2) any breach of these Conditions of Use by you. </p>

    <h3 class="mt50 mb20">7. EXCLUSIONS AND LIMITATIONS</h3>
    <p>7.1 SWD is providing the Website and Content on an ‘as is’ basis and makes no representations or warranties of any kind with respect to the Website or the Content and disclaims all such representations and warranties. In addition, CTS makes no representations or warranties about the accuracy, completeness, reliability, timeliness, non-infringement, title, or suitability for any purpose of the Website and Content. The Content may contain factual or technical inaccuracies or typographical errors. All liability of SWD howsoever arising for any such inaccuracies or errors is expressly excluded to the fullest extent permitted by law. </p>
    <p>7.2 In addition, CTS makes no warranty that the Website, Content or any functions associated therewith will be uninterrupted or error-free, or that defects will be corrected or that the Website and the server is and will be free of all viruses and/or other harmful elements. SWD also makes no warranty in respect of any products or services for which Vouchers may be redeemed and in respect of the quality, usability or any other aspect of any such products or services. </p>
    <p>7.3 You acknowledge and agree that all communications made via the Community Facilities are public communications and that others may read any communications made by you on the Community Facilities. Without prejudice to Clause 7.5, SWD disclaims any liability concerning the Community Facilities and any actions resulting from your participation in any Community Facility, including any objectionable content. Any communication posted by you on any Communication Facility shall be deemed to be non-confidential. By posting comments, messages, information or other material on the Communication Facilities, you grant SWD the right to use such comments, messages, information or material for promotions, advertising and market research. </p>
    <p>7.4 You acknowledge that you are solely responsible for interactions with the Merchants and other users of the Website, and you hereby release SWD from any and all claims or liability related to any product or service of the Merchant/s, any action or inaction by a Merchant, including the Merchant’s failure to comply with applicable law and/or failure to abide by the terms of a Voucher, and any conduct or speech, whether online or offline, of any other user. You also agree to release, indemnify and hold harmless CTS from and against all claims and expenses, arising out of or related to any products or services purchased by you in connection with the Website. </p>
    <p>7.5 Neither SWD nor any of its directors, employees or other representatives will be liable for any loss or damage arising out of or in connection with the use of the Website (or any part thereof). This is a comprehensive limitation of liability that applies to all damages of any kind, including (without limitation) compensatory, direct, indirect and/or consequential damages or any losses which occur as a side effect of the main loss or damage howsoever arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, including (without limitation):</p>
    <p>(1) loss of income or revenue;</p>
    <p>(2) loss of business;</p>
    <p>(3) loss of profits or contracts; </p>
    <p>(4) loss of anticipated savings;</p>
    <p>(5) waste of management or office time;</p>
    <p>(6) loss of, damage to or corruption of data; </p>
    <p>(7) loss of goodwill;</p>
    <p>(8) loss of opportunity;</p>
    <p>(9) increased costs or expenses;</p>
    <p>(10) wasted expenditure; or</p>
    <p>(11) any other injury, loss, damage, claim, cost or expense.</p>

    <h3 class="mt50 mb20">8. LINKS TO OTHER SITES AND LINKING TO THE WEBSITE</h3>
    <p>8.1 Certain links, including hypertext links, in the Website will take you outside the Website. Links are provided for your convenience and inclusion of any link does not imply endorsement or approval by us of the linked site, its operator or its content. We are not responsible for the content of any website outside the Website. </p>
    <p>8.2 We reserve the right to disable any links to, or frames of any site containing inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topics, names, material or information, or material or information that violates any written law, any applicable intellectual property, proprietary, privacy or publicity rights. </p>
    <p>8.3 You may not cache, hyperlink to and/or frame the Website or any Content unless SWD’s prior written consent has been obtained.</p>

    <h3 class="mt50 mb20">9. USE OF INFORMATION AND MATERIAL</h3>
    <p>9.1 You agree that we may collect, store and use for any purpose, any information (including personal information) that you may provide at or through the Website, as well as any information or other material that you up-load or post at or through the Website. </p>
    <p>9.2 Without prejudice to Clause 6.1, you hereby grant to SWD a perpetual, royalty-free, irrevocable licence to copy, issue copies, communicate to the public, make publicly available, any information or material you up-load or post at or through the Website. You acknowledge and agree that such information and material is not up-loaded or posted subject to any obligation of confidence. </p>
    
    <h3 class="mt50 mb20">10. VARIATIONS</h3>
    <p>We reserve the right at any time without notice to revise the Website and/or the Content and/or these Conditions of Use. Any changes to these Conditions of Use will be posted on the Website and by continuing to use the Website following any such change you will signify that you agree to be bound by the revised Conditions of Use. </p>
    
    <h3 class="mt50 mb20">11. NO WAIVER</h3>
    <p>No delay, neglect or forebearance by SWD in enforcing against you any of these Conditions of Use shall be deemed to be a waiver or in any way prejudice any right of SWD under these Conditions of Use. No right, power or remedy in these Conditions of Use conferred upon or reserved for either party is exclusive of any other right, power or remedy available to SWD. </p>
    
    <h3 class="mt50 mb20">12. GOVERNING LAW</h3>
    <p>These Conditions of Use and all matters arising from it and any disputes in respect thereof, shall be governed by and construed in accordance with the laws of the Republic of Singapore.</p>

</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Terms & Conditions"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Terms & Conditions"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/terms-and-conditions"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css">
    p .bold{color: #333}
    @media screen and (max-width: 767px){h3{font-size: 18px !important;margin-bottom: 10px !important;}}}
</style>

<script type="text/javascript"></script>