<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/tourist-info.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Tourist Info</h1>
        	<p>All you need to know about Singapore</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Tourist Info</li>
            <li>The Country</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-large">
    <div class="row">
        
        <aside class="col-lg-3 col-md-3 sidebar hidden-xs hidden-sm">
        
            <div class="box_style_cat attractions-nav tourist-nav">
                <ul id="cat_nav">
                    <li><a ui-sref="tourist-info"><div class="sub-nav nav-country"></div>The Country</a></li>
                    <li><a ui-sref="tourist-info-language"><div class="sub-nav nav-language"></div>Language</a></li>
                    <li><a class="active"><div class="sub-nav nav-climate"></div>Climate</a></li>
                    <li><a ui-sref="tourist-info-currency"><div class="sub-nav nav-currency"></div>Currency</a></li>
                    <li><a ui-sref="tourist-info-food"><div class="sub-nav nav-food"></div>Food &amp; Beverage</a></li>
                    <li><a ui-sref="tourist-info-transportation"><div class="sub-nav nav-transportation"></div>Public Transportation</a></li>
                    <li><a ui-sref="tourist-info-others"><div class="sub-nav nav-others"></div>Others</a></li>
                </ul>
            </div>

            <div class="gap-md"></div>
            
        </aside><!--End aside -->
        <div class="col-lg-9 col-md-8">

            <h4>Singapore's Climate</h4>

            <img src="assets/common/img/tourist-info/climate.jpg" alt="Singapore's Climate" class="full-width mt10 mb30">

            <p class="mb40">Singapore has a tropical rainforest climate. Owing to its geographical location and maritime exposure, its climate is characterized by uniform temperature and pressure, high humidity and abundant rainfall. So it is almost always warm and wet. Temperature range during day time is around 28°C - 32°C with it reaching 35°C at times, while night time temperature hardly falls below 23°C.</p>
            
            <h5>Pre-Southwest Monsoon Season</h5>
            <p>From March till May, Singapore sees the pre-southwest monsoon season, throughout which it goes through heavy early evening showers. It is not considered a good time to visit the city during this season. However, as the season progresses, the level of rainfall and humidity reduce dramatically and winds appear less strong.</p>

            <h5>Southwest Monsoon Season</h5>
            <p>June till September is the period of Southwest Monsoon Season for the Singapore city. Visitors from across the world wait for this season to visit the city as rainfall reduces. However, the winds often become very strong in the mornings and mist is most likely at this time of year.</p>

            <h5>Pre-Northeast Monsoon Season</h5>
            <p>October and November are considered as pre-northeast monsoon season in Singapore. During this season, cool sea breeze helps reduce the afternoon heat. Although storms often occur in the evening but winds generally remain reduced.</p>

            <h5>Northeast Monsoon Season</h5>
            <p>Northeast monsoon season starts in December and lasts till March in Singapore. From the northeast strong winds bring the heaviest rain of the year. Although mornings remain clear cloudy conditions triumphs most the days.  Nonstop showers for several days may spoil tourists’ plan. During January and February winds appear as violent, even the worst.</p>

            <p class="mt40">SOURCE LINKS:<br><a href="http://www.worldweatheronline.com/" target="_blank">www.worldweatheronline.com</a></p>


        </div>

    </div>
</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Singapore's Climate"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Singapore's Climate"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/tourist-info/climate"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css"></style>

<script type="text/javascript"></script>