<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/tourist-info.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Tourist Info</h1>
        	<p>All you need to know about Singapore</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Tourist Info</li>
            <li>The Country</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-large">
    <div class="row">
        
        <aside class="col-lg-3 col-md-3 sidebar hidden-xs hidden-sm">
        
            <div class="box_style_cat attractions-nav tourist-nav">
                <ul id="cat_nav">
                    <li><a ui-sref="tourist-info"><div class="sub-nav nav-country"></div>The Country</a></li>
                    <li><a class="active"><div class="sub-nav nav-language"></div>Language</a></li>
                    <li><a ui-sref="tourist-info-climate"><div class="sub-nav nav-climate"></div>Climate</a></li>
                    <li><a ui-sref="tourist-info-currency"><div class="sub-nav nav-currency"></div>Currency</a></li>
                    <li><a ui-sref="tourist-info-food"><div class="sub-nav nav-food"></div>Food &amp; Beverage</a></li>
                    <li><a ui-sref="tourist-info-transportation"><div class="sub-nav nav-transportation"></div>Public Transportation</a></li>
                    <li><a ui-sref="tourist-info-others"><div class="sub-nav nav-others"></div>Others</a></li>
                </ul>
            </div>

            <div class="gap-md"></div>
            
        </aside><!--End aside -->
        <div class="col-lg-9 col-md-8">

            <h4>Our Language</h4>

            <img src="assets/common/img/tourist-info/language.jpg" alt="Our Language" class="full-width mt10 mb30">
                
            <p>One of the more remarkable aspects of Singapore is the truly cosmopolitan nature of her population, a natural result of the country’s geographical position and commercial success. Established by Thomas Stamford Raffles as a trading post on 29 January 1819, the small sea town of Singapore soon attracted migrants and merchants from China, the Indian sub-continent, Indonesia, the Malay Peninsula and the Middle East. </p>
            <p>Drawn by the lure of better prospects, the immigrants brought with them their own culture, languages, customs and festivals. Intermarriage and integration helped knit these diverse influences into the fabric of Singapore’s multi-faceted society, giving it a vibrant and diverse cultural heritage. By the end of the 19th century, Singapore had become one of the most cosmopolitan cities in Asia, with major ethnic groups in the country being the Chinese, Malays, Indians, and Eurasians.</p>
            <p>Today, the ethnic Chinese form 74.2% of the Singaporean population, with the country’s original inhabitants, the Malays, comprising 13.3%. The Indians make up 9.2%, and Eurasians and Asians of different origins making up a combined 3.3%. Singapore is also home to many expatriates coming from countries as diverse as North America, Australia, Europe, China, Japan and India.</p>
            <p>As a reflection of its collage of cultures, Singapore has adopted one representative language for each of the four major ethnic or 'racial' groups. The four official languages in Singapore's constitution are English, Chinese, Malay and Tamil. Although Malay is the national language, English is the common language used for business, government and medium of instruction in schools.</p>
            <p>The presence of other languages, especially the varieties of Malay and the Chinese dialects, has obviously had an influence on the type of English that is used in Singapore. The influence is especially apparent in informal English, an English-based creole that is commonly known as Singlish. A badge of identity for many Singaporeans, it represents a hybrid form of the language that includes words from Malay, as well as Chinese and Indian languages.</p>
            <p>Almost everyone in Singapore speaks more than one language, with some speaking as many as three or four. Most children grow up bilingual from infancy, learning other languages as they become older. With the majority of the literate population bilingual, English and Mandarin are the most commonly used languages in daily life. While English is the main language taught in schools, children also learn their mother tongues to ensure that they stay in touch with their traditional roots.</p>
            <p>For the Chinese majority, Mandarin is the main language instead of dialects like Hokkien, Teochew, Cantonese, Hakka, Hainanese and Foochow.  Mandarin became the second most commonly spoken language among the Singaporean Chinese after the start of the Speak Mandarin campaign during 1980 that targeted the Chinese. In 1990s, efforts were undertaken to target the English-educated Chinese. </p>
            <p>SOURCE LINKS:<br><a href="http://www.yoursingapore.com/" target="_blank">www.yoursingapore.com</a></p>

        </div>

    </div>
</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Our Language"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Our Language"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/tourist-info/language"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css"></style>

<script type="text/javascript"></script>