<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/tourist-info.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Tourist Info</h1>
        	<p>All you need to know about Singapore</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Tourist Info</li>
            <li>The Country</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-large">
    <div class="row">
        
        <aside class="col-lg-3 col-md-3 sidebar hidden-xs hidden-sm">
        
            <div class="box_style_cat attractions-nav tourist-nav">
                <ul id="cat_nav">
                    <li><a ui-sref="tourist-info"><div class="sub-nav nav-country"></div>The Country</a></li>
                    <li><a ui-sref="tourist-info-language"><div class="sub-nav nav-language"></div>Language</a></li>
                    <li><a ui-sref="tourist-info-climate"><div class="sub-nav nav-climate"></div>Climate</a></li>
                    <li><a class="active"><div class="sub-nav nav-currency"></div>Currency</a></li>
                    <li><a ui-sref="tourist-info-food"><div class="sub-nav nav-food"></div>Food &amp; Beverage</a></li>
                    <li><a ui-sref="tourist-info-transportation"><div class="sub-nav nav-transportation"></div>Public Transportation</a></li>
                    <li><a ui-sref="tourist-info-others"><div class="sub-nav nav-others"></div>Others</a></li>
                </ul>
            </div>

            <div class="gap-md"></div>
            
        </aside><!--End aside -->
        <div class="col-lg-9 col-md-8">

                <h4>Singapore's Currency</h4>

                <img src="assets/common/img/tourist-info/currency.jpg" alt="Singapore's Currency" class="full-width mt10 mb30">

                <p>The Singapore dollar (SGD) is the official currency of Singapore. It is normally abbreviated with the dollar sign $ or S$ to distinguish it from other dollar-denominated currencies. Coins are denominated in 5 cents, 10 cents, 20 cents, 50 cents and 1 dollar while the dollar notes come in denominations of $2, $5, $10, $50, $100, $1000 and $10,000.</p>

        </div>

    </div>
</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Currency"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Singapore's Currency"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/tourist-info/the-country"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css"></style>

<script type="text/javascript"></script>