<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/tourist-info.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Tourist Info</h1>
        	<p>All you need to know about Singapore</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Tourist Info</li>
            <li>The Country</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-large">
    <div class="row">
        
        <aside class="col-lg-3 col-md-3 sidebar hidden-xs hidden-sm">
        
            <div class="box_style_cat attractions-nav tourist-nav">
                <ul id="cat_nav">
                    <li><a ui-sref="tourist-info"><div class="sub-nav nav-country"></div>The Country</a></li>
                    <li><a ui-sref="tourist-info-language"><div class="sub-nav nav-language"></div>Language</a></li>
                    <li><a ui-sref="tourist-info-climate"><div class="sub-nav nav-climate"></div>Climate</a></li>
                    <li><a ui-sref="tourist-info-currency"><div class="sub-nav nav-currency"></div>Currency</a></li>
                    <li><a ui-sref="tourist-info-food"><div class="sub-nav nav-food"></div>Food &amp; Beverages</a></li>
                    <li><a ui-sref="tourist-info-transportation"><div class="sub-nav nav-transportation"></div>Public Transportation</a></li>
                    <li><a class="active"><div class="sub-nav nav-others"></div>Others</a></li>
                </ul>
            </div>

            <div class="gap-md"></div>
            
        </aside><!--End aside -->
        <div class="col-lg-9 col-md-8">
                
            <h4>Others</h4>

            <img src="assets/common/img/tourist-info/other.jpg" alt="Others" class="full-width mt10 mb30">

            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#people-culture" data-toggle="tab">People And Culture</a></li>
                <li><a data-target="#customs" data-toggle="tab">Customs</a></li>
                <li><a data-target="#immigration" data-toggle="tab">Immigration</a></li>
                <li><a data-target="#tax-refund" data-toggle="tab">Tax Refund</a></li>
            </ul>
    
            <div class="tab-content attraction-details-content">

                <!-- PEOPLE AND CULTURE
                ================================================== -->
                <div class="tab-pane fade in active" id="people-culture">
                    
                    <p>At present, Singapore’s population stands at slightly over five million people, with English as the main language of instruction, and a mother tongue for each major ethnicity. One of the distinctly Singaporean things you’ll notice on our island is a collage of cultures. Coming together as a society and living in harmony, there are four major races – namely the Chinese (majority), Malay, Indian and Eurasian. Each community offers a different perspective of life in Singapore in terms of culture, religion, food and language.</p>
                    <p>Being a multi-racial society, Singapore is as diverse as it is harmonious. With so much to see and do, this is perhaps best experienced through your encounters with the locals. And if you’re feeling nostalgic and looking to discover old world charm, you can explore and experience the island’s key historical landmarks or memorials. You can also embark on a heritage trail and enjoy the sights and sounds at various cultural precincts, notably Chinatown, Little India and Kampong Glam.</p>
                    <p>If you prefer the bright city lights and being amidst the hustle and bustle, there are numerous shopping malls, museums, dining and entertainment hotspots to choose from. Get into the thick of the shopping action at the iconic Orchard Road stretch, or party the night away at the Clarke Quay or Boat Quay areas, both of which offer a myriad selection of nightlife activities.</p>
                    <p>The other thing that will strike you most about Singapore is its multifarious offering of food – day or night, there will always be something to whet your appetite. With a range of dining options from Peranakan to Chinese, Indian to Malay, fusion and more, you’ll be spoilt for choice.</p>
                    <p>Beyond the history, culture, people, shopping and food, there are many more facets to Singapore’s thriving cityscape for you to discover. And these can only be experienced as you immerse yourself in the exploration of this once fishing village turned cosmopolitan city.</p>
                    <p>SOURCE LINKS:<br><a href="http://www.yoursingapore.com/" target="_blank">www.yoursingapore.com</a></p>

                </div>

                <!-- CUSTOMS
                ================================================== -->
                <div class="tab-pane fade" id="customs">
                    <p>lorem ipsum</p>
                </div>


                <!-- IMMIGRATION
                ================================================== -->
                <div class="tab-pane fade" id="immigration">
                    <p>lorem ipsum</p>
                </div>

                
                <!-- TAX REFUND
                ================================================== -->
                <div class="tab-pane fade" id="tax-refund">
                    <p>lorem ipsum</p>
                </div>


            </div>

        </div>

    </div>
</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Others"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Others"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/tourist-info/others"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css">
    .tab-pane p:last-child{margin-bottom: 0;}
</style>

<script type="text/javascript"></script>