<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/tourist-info.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Tourist Info</h1>
        	<p>All you need to know about Singapore</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Tourist Info</li>
            <li>The Country</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-large">
    <div class="row">
        
        <aside class="col-lg-3 col-md-3 sidebar hidden-xs hidden-sm">
        
            <div class="box_style_cat attractions-nav tourist-nav">
                <ul id="cat_nav">
                    <li><a ui-sref="tourist-info"><div class="sub-nav nav-country"></div>The Country</a></li>
                    <li><a ui-sref="tourist-info-language"><div class="sub-nav nav-language"></div>Language</a></li>
                    <li><a ui-sref="tourist-info-climate"><div class="sub-nav nav-climate"></div>Climate</a></li>
                    <li><a ui-sref="tourist-info-currency"><div class="sub-nav nav-currency"></div>Currency</a></li>
                    <li><a class="active"><div class="sub-nav nav-food"></div>Food &amp; Beverage</a></li>
                    <li><a ui-sref="tourist-info-transportation"><div class="sub-nav nav-transportation"></div>Public Transportation</a></li>
                    <li><a ui-sref="tourist-info-others"><div class="sub-nav nav-others"></div>Others</a></li>
                </ul>
            </div>

            <div class="gap-md"></div>
            
        </aside><!--End aside -->
        <div class="col-lg-9 col-md-8">
                
                <h4>Food and Beverage</h4>

                <img src="assets/common/img/tourist-info/food.jpg" alt="Food and Beverage" class="full-width mt10 mb30">

                <p>With its rich multicultural heritage, Singapore serves up a true melting pot of flavours and foods. You can see a reflection of Singapore’s cultural diversity in the array of local cuisines on the menu – Chinese, Malay, Indian and Peranakan among others.</p>
                <p>Take a stroll around the diverse neighbourhoods and you’ll come across halal Malay food, South Indian vegetarian thali, North Indian naans and briyani, Cantonese dim sum, Hainanese chicken rice, Peking duck, Hokkien mee (fried noodles from the China’s Fujian Province) and popiah (spring rolls), available in food centres and restaurants across Singapore.</p>
                <p>Chinese cuisine represents one of the main players in the country’s gastronomic arena. The Chinese believe in combining ingredients to enhance the harmony between the yin and yang qualities of the food. Food is also used for its symbolic properties, such as noodles for longevity, oysters for good fortune and fish for prosperity.</p>
                <p>A visit to Singapore offers you an opportunity to sample dishes from the different parts of China. You can enjoy the delicious dim sum, roasted meats and double-boiled soups brought by the Cantonese immigrants, the spicy dishes from Szechuan and the flavourful chicken rice with its roots from the Hainan province. The famous yong tau fu, or beancurd stuffed with fish paste, was a contribution by the Hakkas. Hearty meat dishes and appetising noodles are a part of Hokkien meals while Teochew dishes include lighter items such as steamed seafood, comforting porridge and clear soups. On your trip here, don’t forget also to try local Chinese favourites such as chilli crab, bak kut teh, fish head curry or rojak.</p>
                <p>If you’re a fan of Indian food, you’ll be spoilt for choice between dishes from the southern and northern part of the sub-continent. The first features vegetarian thosai, seafood dishes and fiery curries enriched with coconut milk. The second includes milder curries, creamy yogurt based dishes, tandoori offerings and fluffy naan breads. Most Indian dishes are infused with flavoured spices such as cardamom, cloves, cumin, coriander and chillies, and only in Singapore will you also find spicy fish head curry in various Indian restaurants.</p>
                <p>You can also get a taste of popular local Indian-Muslim dishes such as roti pratas, murtabak - (prata stuffed with minced meat, eggs and onions) and nasi briyani, a saffron rice dish with spicy chicken or mutton. All these dishes go well with teh tarik (or “pulled tea”), an absolutely satisfying creamy and frothy milk tea.</p>
                <p>The Malay cuisine in Singapore will give you a chance to savour an array of spices and herbs including ginger, turmeric, galangal, lemon grass, curry leaves, pungent belachan (shrimp paste) and chillies. You’ll find the cuisine spicy without being unbearably hot, thanks to its generous use of coconut milk and local spices. Peanut sauce occupies a pride of place in dishes like gado gado, an Indonesian salad of lettuce, bean sprouts and fried bean curd. It is also a staple accompaniment with satay – skewers of meat grilled over charcoal served with raw onions and cucumber. Try the nasi lemak for its flavourful coconut steamed rice, or nasi padang, where you can select from a wide range of dishes on display.</p>
                <p>The unique Peranakan or Nonya food offers a blend of Chinese, Malay and Indonesian flavours, combining aromatic herbs and spices such as lemongrass, chillies, tamarind paste, shrimp paste and coconut milk to create a rich cuisine of braised dishes, stews and curries. You’ll have to try the ayam buah keluak, a chicken dish mixed with earthy-tasting buah keluak nuts and the laksa, a famous Nonya dish made with rice vermicelli and coconut milk and garnished with seafood or chicken.</p>
                <p>Singapore also offers you a wide range of international cuisines – from American, European, Thai, Korean, Vietnamese to Mongolian food. Whether you’re in the mood for a Japanese dinner, a hearty Italian meal, or a casual French bistro experience, you’ll find it all in this little red dot.</p>
                <p>SOURCE LINKS:<br><a href="http://www.yoursingapore.com/" target="_blank">www.yoursingapore.com</a></p>

        </div>

    </div>
</section>

<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Food & Beverage"></update-title>
<update-meta name="description" content=""></update-meta>
<update-meta property="og:title" content="Food & Beverage">"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/tourist-info/food-and-beverage"></update-meta>
<update-meta property="og:description" content=""></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<!-- Custom CSS/JS -->
<style type="text/css"></style>

<script type="text/javascript"></script>