<div class="headline" id="default-host" style="display: none">{{host}}</div>

<!-- BANNER
================================================== -->
<section class="parallax-window bg-center" style="background-image:url('assets/common/img/covers/about.jpg')">
    <div class="overlay"></div>
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
        	<h1>Verify Your Swish Account</h1>
        	<p>When you create a Swish Account, we'll send a verification link to the email address you used to create the account. If<br> you don't verify your address, you may not be able to do the purchasing for your desired list.</p>
        </div>
    </div>
</section><!-- End section -->


<!-- BREADCRUMBS
================================================== -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="home">Home</a></li>
            <li>Verify Email</li>
        </ul>
    </div>
</div><!-- Position -->


<!-- CONTENT
================================================== -->
<section class="container container-padding-xlarge">
    <!-- <input type="text" id="token" ng-model="token"> -->
    To verify a new email address, please click this <a href="" id="token">link</a> to verify your email address. <br><b>Note:</b> After done verify email, you can login your account. You can login by using your email address or contact number.<br><br>

    <b ng-style="{color: 'red'}">*</b>Click this link <a href="" id="verifyagain">verify</a> to verify you email again.

    <!-- <br><br><br><br><br><br>
	<div class="main_title">
		<h2>Why <span>Choose</span> Swish</h2>
		<h3 class="thin lato">Get tickets to top attraction venues in Singapore 24/7</h3>
	</div>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="about">
                <img src="assets/common/img/icons/abt-attractions.png" class="img-circle" alt="Wide Range of Attractions">
                <h3>Wide Range of Attractions</h3>
                <p>Our online system you great access to exciting attractions around the Singapore island.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="about">
                <img src="assets/common/img/icons/abt-quick.png" class="img-circle" alt="Quick & Easy">
                <h3>Quick &amp; Easy</h3>
                <p>Buy attraction tickets quickly and easily, either on your PC or on your mobile device with just a few clicks away.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="about">
                <img src="assets/common/img/icons/abt-convenient.png" class="img-circle" alt="Convenient Purchasing">
                <h3>Convenient Purchasing</h3>
                <p>Take your time to browse through all the attraction deals we offer in Singapore at just one site.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="about">
                <img src="assets/common/img/icons/abt-secure.png" class="img-circle" alt="Hassle-free & Secured">
                <h3>Hassle-free &amp; Secured</h3>
                <p>Seamless convenience in planning your Singapore trip itinerary no matter where you are in the world.</p>
            </div>
        </div>
    </div> -->

</section>


<!-- THIS PAGE'S META/CSS/JS
================================================== -->
<update-title title="Swish :: Verify Email></update-title>
<update-meta name="description" content="When you create a Swish Account, we'll send a verification link to the email address you used to create the account. If you don't verify your address, you may not be able to do the purchasing for your desired list."></update-meta>
<update-meta property="og:title" content="Verify Email"></update-meta>
<update-meta property="og:url" content="http://www.swish.sg/verify"></update-meta>
<update-meta property="og:description" content="When you create a Swish Account, we'll send a verification link to the email address you used to create the account. If you don't verify your address, you may not be able to do the purchasing for your desired list."></update-meta>
<update-meta property="og:image" content="http://www.website.com/homepage-feature-image.jpg"></update-meta><!-- Please target a suitable image to display on FB post. MAX size within 1200 x 630 boundary -->

<style type="text/css"></style>

<!-- jQuery only -->
<script type="text/javascript">
        
    function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $("#token").click(function(){

        var token = getParameterByName("token");
        if(token != undefined){
            var host = 'http://' + angular.element("#default-host").scope().host;
            $.ajax({
                type: 'POST',
                url: window.__env.apiUrl + 'api/verify/token',
                data: {token: token},
                success: function(){
                    swal({
                      title: "Email Verified!",
                      text: "Now you can login your Swish Account",
                      type: "success",
                      timer: 4000,
                      showConfirmButton: false
                    },
                    function(){
                        window.location = host;
                    });
                },
                error: function(){
                    // sweetAlert("Oops...", "Something went wrong!", "error");
                    swal({
                      title: "Error!",
                      text: "Token is invalid. You need to click link verify to verify again your email",
                      type: "error",
                      timer: 5000,
                      showConfirmButton: false
                    });
                }
            })
        }
    });

    $("#verifyagain").on('click', function(){

        var email = getParameterByName("email");

        if(email != undefined){
            var host = 'http://' + angular.element("#default-host").scope().host;
            $.ajax({
                type: 'POST',
                url: window.__env.apiUrl + 'api/resend/email/verification',
                data: {email: email},
                success: function(){
                    swal({
                      title: "Verify Email Resend!",
                      text: "Please check your email",
                      type: "success",
                      timer: 4000,
                      showConfirmButton: false
                    },
                    function(){
                        window.location = host;
                    });

                }
            })
        }

    })
</script>