<header>
	        <div id="top_line">
	            <div class="container">
	                <div class="row">
	                    <div class="col-sm-3 col-xs-6"><i class="icon-phone"></i><strong>(65) 8688 8398</strong></div>
	                    
	                    <div class="col-sm-9 col-xs-6">
	                        <ul id="top_links">
	                            <li>
	                                <div class="dropdown dropdown-cart">
	                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i> 2 Item(s) : <span class="bold">SGD 47.00</span></a>
	                                    <ul class="dropdown-menu" id="cart_items">
		                                    <!--<li data-ng-repeat="item in cart">-->
		                                    <li>
		                                        <!--<div class="image"><img src="img/{{ item.image }}}" alt="image"></div>-->
		                                        <div class="image"><img src="http://placehold.it/80x80" alt="image"></div>
		                                        <strong>
													<!--<a href="#">{{ item.name }}}</a>{{ item.quantity }}} {{ item.price }}} </strong>-->
													<a href="#" class="ellipsis">Gardens by the Bay Day Pass</a>1x $36.00 
												</strong>
		                                        <a href="#" class="action"><i class="icon-trash"></i></a>
		                                    </li>
		                                    <li>
		                                        <!--<div class="image"><img src="img/{{ item.image }}}" alt="image"></div>-->
		                                        <div class="image"><img src="http://placehold.it/80x80" alt="image"></div>
		                                        <strong>
													<!--<a href="#">{{ item.name }}}</a>{{ item.quantity }}} {{ item.price }}} </strong>-->
													<a href="#" class="ellipsis">Gardens by the Bay Day Pass</a>1x $36.00 
												</strong>
		                                        <a href="#" class="action"><i class="icon-trash"></i></a>
		                                    </li>
		                                    <li>
		                                        <div>Total: <span>SGD47.00</span></div>
		                                        <a href="/cart" class="button_drop outline">Go to cart</a>
		                                        <a href="/payment" class="button_drop">Check out</a>
		                                    </li>
		                                </ul>
	                                </div><!-- End Dropdown access -->
	                            </li>
	                            <li><div class="dropdown dropdown-cart"><a class="dropdown-toggle btn-login" href="#/account-settings"><i class="fa fa-user"></i> Welcome, Muhammad Hazwan</a></div></li>
	                        </ul>
	                    </div>
	                </div><!-- End row -->
	            </div><!-- End container-->
	        </div><!-- End top line-->
	        
	        <div class="container">
	            <div class="row">
	                <div class="col-md-3 col-sm-3 col-xs-3">
	                    <div id="logo_home">
	                    	<h1><a href="#/" title="Swish">Swish</a></h1>
	                    </div>
	                </div>
	                <nav class="col-md-9 col-sm-9 col-xs-9">
	                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a><!-- Mobile Logo -->
	                    <div class="main-menu text-right">

	                        <!--  Logo  -->
	                        <!-- <div id="header_menu">
	                            <a href="#/" title="Swish" class="open_close"><img src="assets/common/img/logo_sticky.png" alt="Swish" data-retina="true"></a>
	                        </div> -->
							
							<!--  Greeting  -->
	                        <div class="greeting">
	                        	<h3>Welcome,</h3>
	                        	<h4>Muhammad Hazwan</h4>
	                        </div>
							
							<!--  Main Menu  -->
	                        <div class="mobile-nav-title">
	                    		<h5>menu</h5>
	                    	</div>
	                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
	                        <ul class="nav-list">
	                            <li data-ng-repeat="nav in navbar"><a href="{{ nav.link }}" class="open_close"><span class="nav-sprite {{ nav.class }}"></span>{{ nav.text }}</a></li>
	                            <li><a href="/buy" class="btn open_close"><span class="nav-sprite nav-buy"></span>Buy Tickets</a></li>
	                        </ul>
	
							<!--  Account Info (Mobile Only)  -->
	                        <div class="mobile-nav-title visible-xs visible-sm">
	                    		<h5>account</h5>
	                    	</div>
	                    	<ul class="nav-list visible-xs visible-sm">
	                    		<li><a href="#/"><span class="nav-sprite nav-settings"></span>Account Settings</a></li>
	                    		<li><a href="#/"><span class="nav-sprite nav-ticket"></span>Purchase History</a></li>
	                    		<li><a href="#/" class="action-signout"><span class="nav-sprite nav-signout"></span>Sign Out</a></li>
	                    	</ul>
	                    </div><!-- End main-menu -->
	                    <ul id="top_tools" class="hide">
	                    	<li>
	                    		<div class="dropdown dropdown-search">
                                	<a href=""><i class=" icon-basket-1"></i>2 Item(s)</a>
                            	</div>
	                    	</li>
	                    </ul>
	                </nav>
	            </div>
	        </div><!-- container -->
	    </header><!-- End Header -->